<!--========== ABOUT ==========-->
<section class="about section" id="about">
    <div class="container about__container grid">
        <img @fade class="about__img" src="../../assets/img/font2.jpg" alt="">
        <div class="about__data">
            <span class="section__subtitle about__initial">About us</span>
            <h2 class="section-title about__initial">We are fucking vietnamese <br>
                dont fuck with us</h2>
            <p class="about__description">We will cook your mother and burn your house down motherfucker</p>
            <a href="" class="button">View our story</a>
        </div>
    </div>
</section>