<section class="section container livraison">
    <span class="section__subtitle">Livraison</span>
    <h1 class="section__title">Ne déplacez pas</h1>
    <div class="livraison__container grid">
        <div class="livraison__data-deliveroo">
            <img class="img livraison__img" src="../../assets/img/livraison/deliveroologo.png" alt="">
            <h3 class="livraison__title">Commander</h3>
            <p class="title__subtile">Commander en toute sécurité les plats Chez Ha My sur notre partenaire de livraison</p>
            <a href="" class="button">Commander</a>
        </div>
        <div class="livraision__container-ou">
            <h1 class="livraison__ou">OU</h1>
        </div>
        <div class="livraison__data-chezhamy">
            <p class="livraison__logo-chezhamy">Chez Ha My</p>
            <!-- <img class="img livraison__img" src="../../assets/img/livraison/chezhamynobackground.png" alt=""> -->
            <h3 class="livraison__title">Appeler</h3>
            <p class="title__subtile">Chez Ha My dispose ses propre livreur. Nous sommes à votre dispositionpour vous renseigner et écouter votre demande</p>
            <a href="" class="button">Appeler</a>
        </div>
    </div>
</section>